/* .text-center {
    
   background-color:  #45526e;
}

p{

    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 */


h4{

    color: white;
}

.footer{

    color: white;
    align-content: first baseline;
}

p{
    font-family: 'Times New Roman', Times, serif;
}